/* Estilo para o contêiner de feedbacks */
#feedback-container {
  padding: 10px;
}

/* Estilo para cada feedback */
.feedback {
  display: block; /* Cada feedback em bloco */
  width: 100%; /* Ocupa toda a largura do contêiner */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box; /* Garante que padding e bordas sejam incluídos na largura */
}

/* Estilo para o nome do usuário nos feedbacks */
.feedback-nome {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.1rem; /* Ajusta o tamanho da fonte */
}

/* Estilo para as estrelas nos feedbacks */
.feedback-estrelas {
  color: gold;
  margin-bottom: 5px;
  font-size: 1rem;
}

/* Estilo para o comentário nos feedbacks */
.feedback-comentario {
  font-style: italic;
  color: #333;
  font-size: 0.9rem; /* Ajusta o tamanho da fonte */
}

/* Estilo para centralizar títulos nas seções metas, serviços e contatos */
.metas, .Serviços h3, .Contatos h1 {
  text-align: center;
}

/* Progress bars - ajuste necessário */
.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: center left;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
/* CSS para a cor verde escuro */
.nome-verde-escuro {
  color: #1c771b; /* Verde escuro */
}
/* Responsividade para tamanhos de tela maiores */
@media (min-width: 992px) {
  #myChart, #Graf2 {
      width: 900px; /* Ajuste a largura para computadores maiores */
      height: 700px; /* Ajuste a altura para computadores maiores */
  }
}