body {  /* todo o conteúdo da página */
  background-color: white;
  background-image: url('../assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


h1, h2 {
  text-align: center;
}

h1 { /* Esqueceu a sua senha?*/
  text-align: left;
  margin-left: 80px;
  margin-bottom: 10px;
  color: #202020;
  font-size: 2rem; 
}

h2 { /* Te enviaremos um e-mail para que você realize a mudança de senha */
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #202020;
  font-size: 0.8rem; 
  max-width: 400px;
}

input[type=email]::placeholder { /* Mensagem que fica dentro do container verde */
  color: white; 
  opacity: 1;
}

input[type=email] { /* O que eu escrever dentro do container verde */
  background-color: #006400;
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 490px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.forgot-password-container a { /* link para redirecionamento de cadastro */
  color: #006400;
  text-decoration: none; 
}

.forgot-password-container {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-top: 5px;
}

p { /* mensagem que aparece para redirecionamento de cadastro */
  margin-top: 5px;
  margin-left: 255px;
  font-size: 0.9rem;
}

#budgetLogo { /* imagem da minha logo */
  max-width: 170px; 
  margin-bottom: 0px;
  display: block;
  margin-left: 150px;
  margin-top: 100px;
}